<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1>Ideas</h1>
  </div>
</div>

<div class="col-md-2 col-md-offset-4">
  <%= link_to "Add Idea", new_idea_path, remote: true %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="idea-form" style="display:none;"></div>
</div>

<div class="row ideas">
  <div class="col-md-7 col-md-offset-1" id="ideas"><%= render @ideas %></div>
</div>
