<div class="container">
  <input class="form-control" type="text" id="filter" placeholder="search">
</div>

<div class="container">
  <h1>Ideas</h1>
</div>

<div class="container" id="ideas">
</div>

<div class="container" id="new-idea">
  <h4>Create new idea</h4>
  <div class="form-group">
    <input class="form-control" type="text" id="idea-title" placeholder="title">
    <input class="form-control" type="text" id="idea-body" placeholder="body">
  </div>
  <input class="btn btn-default pull-right" id="add-idea" type="button" name="submit" value="Create Idea">
</div>
